@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* RootColors */

:root {
    --primary-color: #92CD00;
    --dark-gray: #4B5563;
    --off-white: #F3F4F6;
    --dark-green: #2C6700;
}


/* Body */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem 0rem;
}


/* Container */

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}


/* links */

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    background-color: white;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


/**Lists**/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


/**navigation**/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-top-left-radius: 1.5rem;
}

.navigation .nav-brand {
    font-weight: bolder;
    font-size: x-large;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}


/* Header */

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
    font-weight: bolder;
}

.hero .hero-heading .heading-inverted2 {
    color: greenyellow;
    font-weight: bold;
}

.hero .hero-heading2 .heading-inverted3 {
    color: gold;
    font-weight: bolder;
    font-size: larger;
}

.hero .hero-heading2 .heading-inverted4 {
    color: gold;
    font-weight: bold;
    font-size: larger;
}

.hero-heading2 {
    text-align: center;
}

.hero .hero-heading2 .link2 {
    color: rgb(67, 85, 187);
    opacity: 100%;
    text-decoration: lightseagreen;
    font-size: large;
}

.hero .hero-paragraph .link3 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 16px;
    opacity: 100%;
}

.hero .hero-paragraph {
    text-align: center;
}


/* Section */

.section420 {
    padding: 2rem;
    text-align: center;
    background-color: var(--primary-color);
    opacity: 85%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-color: lawngreen;
    border-top-color: lawngreen;
    border-style: var(--dark-gray);
}

.section420 .section-paragraph {
    font-size: 18;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.04rem;
    border-spacing: 1rem;
}

.section {
    padding: 2rem;
    text-align: center;
    background-color: white;
}

.section h1 {
    text-align: center;
    padding: 2rem;
}

.ow2 .sectionow2-para {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: purple;
}

.w2 .sectionw2-para {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: purple;
}

.ow3 .sectionow3-para {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: purple;
}

.ow3 {
    background-color: var(--off-white);
}

.ow {
    background-color: var(--off-white);
    text-align: center;
    padding: 2rem;
}

.ow2 {
    background-color: var(--off-white);
    text-align: center;
    padding: 2rem;
}

.section69 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}


/* Footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 1.5rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .ul {
    padding-inline-start: 0px;
}


/* FOOTERbhalta */

{
    margin: 0;
    padding: 0;
}

.centerdiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border: 50px;
    text-align: center;
    margin: 10px;
    line-height: 110px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.4);
}

.fa-instagram {
    color: #e84393;
}

.fa-facebook {
    columns: #0097e6;
    ;
}

.fa-github {
    color: black;
}

.fa-envelope-o {
    columns: #e84118;
}